<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p>Hi,</p><br>

    <p>A customer have requested you to repair his devise. Please <a href="http://beconve.herokuapp.com#iphone_price_setup" style="color: blue">ACCEPT</a> or <a href="http://beconve.herokuapp.com#iphone_price_setup" style="color: red">DECLINE</a> the quest.</p><br>

    <p>The request will be declined automaticaly after 5 minutes.</p>

    <h4>Location</h4>: <%= @order.location %>
    <h4>Deivce</h4>: <%= @order.device %> - <%= @order.model %> - <%= @order.color %>
    <h4>Issue</h4>: <%= @order.issue %>
    <h4>Price</h4>: $<%= @order.price %>

  </body>
</html>