<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p>Hi,</p><br>

    <p>A customer have requested you to repair his device. Please <a href="http://herokuaad.herokuapp.com#repair_requests" style="color: blue">ACCEPT</a> or <a href="http://herokuaad.herokuapp.com#repair_requests" style="color: red">DECLINE</a> the quest.</p><br>

    <p>The request will be declined automaticaly after 5 minutes.</p>

    <h1>Summary</h1>
    <% phone = @order.customer_phone.scan(/.../).join('-') %>
    <p><span style="font-weight: bold;">Customer's phone number: </span><a href="tel:+1-<%= phone + @order.customer_phone.split('').last%>"><%= @order.customer_phone %></a></p>
    <p><span style="font-weight: bold;">Customer Email: </span><a href="mailto:<%= @order.customer_email %>" target="_top"><%= @order.customer_email %></a></p>
    <p><span style="font-weight: bold;">Location: </span><a href="http://maps.google.com/?q=<%= @order.location %>"><%= @order.location %></a></p>
    <p><span style="font-weight: bold;">Deivce: </span><%= @order.device %> - <%= @order.model %> - <%= @order.color %></p>
    <p><span style="font-weight: bold;">Issue: </span><%= @order.issue %></p>
    <p><span style="font-weight: bold;">Price: $</span><%= @order.price %></p>

  </body>
</html>